* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --fc-timer: #4e4e57;
    --fc-card-2: #FFFFFF;
    --bg-card-2: rgba(38, 59, 165, 0.514);

    --background-color: radial-gradient(circle, rgba(17,25,66,1) 0%, rgba(5,7,18,1) 100%);
    --light-bg-color: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

/* =============== light mode =============== */
body.light {
    background: var(--light-bg-color);
}
/* =============== light mode =============== */

.hide {
    display: none;
}

button {
    border: none;
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;

    background: var(--background-color);

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .themes {
    position: absolute;
    top: 2rem;
    right: 5rem;
}

header button {
    background-color: transparent;
}

main {
    display: grid;
    grid-template-areas: "A B";

    gap: 19.2rem
}

#timer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 32rem;
}

#time {
    font-size: 12.6rem;
    line-height: 14.8rem;
    color: var(--fc-timer);

    display: flex;
    margin-bottom: 4.8rem;
}

#controls {
    display: flex;
    justify-content: space-between;
}

#controls button {
    background: transparent;
}

#sounds {
    width: 30.8rem;

    display: grid;
    grid-template-areas: 
    "A B"
    'C D';
    gap: 3.2rem;
}

#sounds button {
    width: 13.8rem;
    height: 15.2rem;

    background: transparent;
    box-shadow: 0px 10px 40px #00000056;
    border-radius: 2.4rem;
}

#sounds button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#sounds .card {
    position: relative;
    display: flex;
    flex-direction: column;
}

#sounds .card input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 10rem;
    height: 0.4rem;
    border-radius: 0.5rem;
    background-color: var(--fc-timer);
    outline: none;

    position: absolute;
    bottom: 1.5rem;
    left: 1.8rem;
}

#sounds .card input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: var(--fc-timer);
}

#sounds .card input[type=range]::-moz-range-thumb {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: var(--fc-timer);
    border: none;
}

#sounds .card input[type=range]::-ms-range-thumb {
    width: 25px;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: var(--fc-timer);
    border: none;
}

@media (max-width: 680px) {
    body {
        height: auto;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #timer {
        margin-top: 6rem;
    }

    #time {
        margin-bottom: 1rem;
    }

    header .themes {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}