* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --fc-timer: hsla(240, 6%, 21%, 1);
    --fc-card-2: #FFFFFF;
    --bg-card-1: hsla(240, 9%, 89%, 1);
    --bg-card-2: hsla(194, 97%, 31%, 1);
}

/* .theme-light {
  --number-color: #323239;
  --svg-path-color: #323238;
  --svg-path-active-color: #ffffff;
  --bg-primary-color: #e6e6e6;
  --bg-secondary-color: #e0e0e5;
  --button-active-color: #02789c;
  --cs-primary: #b3b3b7;
  --cs-secondary: #ffffff;
  --cs-primary-active: #028ab3;
  --cs-secondary-active: #026685;
}

.theme-dark {
  --number-color: #ffffff;
  --svg-path-color: #c4c4cc;
  --svg-path-active-color: #ffffff;
  --bg-primary-color: #121214;
  --bg-secondary-color: #29292e;
  --button-active-color: #0a3442;
  --cs-primary: #232327;
  --cs-secondary: #2f2f35;
  --cs-primary-active: #0c3c4c;
  --cs-secondary-active: #092c38;
} */

.hide {
    display: none;
}

button {
    border: none;
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;

    background-color: var(--bg-primary-color);

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .themes {
    position: absolute;
    top: 2rem;
    right: 5rem;
}

header button {
    background-color: transparent;
}

main {
    display: grid;
    grid-template-areas: "A B";

    gap: 19.2rem
}

#timer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 32rem;
}

#time {
    font-size: 12.6rem;
    line-height: 14.8rem;
    color: var(--fc-timer);

    display: flex;
    margin-bottom: 4.8rem;
}

#controls {
    display: flex;
    justify-content: space-between;
}

#controls button {
    background: transparent;
}

#controls button:hover {
    transform: scale(1.1);
    transition: transform 200ms;
}

#sounds {
    width: 30.8rem;

    display: grid;
    grid-template-areas: 
    "A B"
    'C D';
    gap: 3.2rem;
}

#sounds button {
    width: 13.8rem;
    height: 15.2rem;

    background: var(--bg-card-1);
    border-radius: 2.4rem;
}

#sounds button:hover {
    transition: all 300ms;
    transform: scale(1.1);
    box-shadow: 0px 10px 40px #00000056;
}

#sounds .card {
    position: relative;
    display: flex;
    flex-direction: column;
}

#sounds .card input {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    width: 10rem;
}

@media (max-width: 680px) {
    body {
        height: auto;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 7rem;
    }

    header .themes {
        position: absolute;
        top: 6.4rem;
        right: 6.4rem;
    }
}